<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>aejester.dev</title>

    <link rel="icon" 
      type="image/png" 
      href="images/logo.png">
  </head>
  <body>

    <!-- Image and text -->
    <nav class="navbar fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="images/logo.png" width="50" height="50" class="d-inline-block align-middle" alt="">
            aejester.dev
        </a>
    </nav>

    <br><br>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">aejester.dev</h1>
            <p class="lead">The home of development projects by <a href='https://twitter.com/_aejester'>@_aejester</a></p>
            <hr class="my-4">
            <p>My latest project <a href='https://nxt0s.github.io/'>nxt0s</a> is now available! Check it out:</p>
            <p class="lead">
                <a class="btn btn-outline-dark btn-lg" href="https://github.com/nxt0s/nxt0s/releases" role="button">nxt0s v1.0.0 beta</a>
            </p>
        </div>
    </div>

    <div class='container'>
        <h4 class='display-4'>about me</h4>
        <p class='lead'>Hello! I'm Ryan Monaghan Jr. (aka. aejester). I have been programing computers since I was 8 years old, with experience in over 8 different languages.</p>
        <p class='lead'>Naming a few, here are my best languages:</p>
        <ul class='lead'>
            <li>JavaScript/NodeJS</li>
            <li>Java</li>
            <li>Objective-C</li>
            <li>Swift/SwiftUI</li>
            <li>Python</li>
            <li>C++</li>
        </ul><br><br>
        <h4 class='display-4'>projects</h4><br>
        <div class='row'>
            <div class='col-sm'>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">nxt0s</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Linux emulation in NodeJS</h6>
                        <p class="card-text">This is a small side project that I worked on for a short period of time, and is still being worked on. It suppprts basic functionality right now, but I plan on adding more.</p>
                        <a href="https://nxt0s.github.io/" class="card-link">nxt0s home</a>
                        <a href="https://github.com/nxt0s/nxt0s" class="card-link">github</a>
                    </div>
                </div>
            </div>
            <div class='col-sm'>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">data-chest</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Local database storage for NodeJS</h6>
                        <p class="card-text">This is a project I created in order to get started on NodeJS projects faster. I needed a way to get a database with easy storage for the purpose of testing, and this was it.</p>
                        <a href="https://npmjs.com/package/data-chest" class="card-link">npm page</a>
                        <a href="https://github.com/aejester/data-chest" class="card-link">github</a>
                    </div>
                </div>
            </div>
            <div class='col-sm'>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">r-grab</h5>
                            <h6 class="card-subtitle mb-2 text-muted">A CLI for dowloading v.reddit videos</h6>
                            <p class="card-text">I use reddit frequently, and some of the content I found useful/funny. I created this because there is no way to save those videos without without this or a similar service.</p>
                            <a href="https://npmjs.com/package/r-grab" class="card-link">npm page</a>
                            <a href="https://github.com/aejester/r-grab" class="card-link">github</a>
                        </div>
                    </div>
                </div>
        </div>
        <br>
        <div class='row'>
            <div class='col-sm'>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">DayOne: Life on track</h5>
                        <h6 class="card-subtitle mb-2 text-muted">An iOS app for keeping track of routines</h6>
                        <p class="card-text">I recently started iOS development, and so my first app built in SwiftUI is this! It was very fun to make, and it was a great way to get started in Apple's new framework.</p>
                        <a href="https://apps.apple.com/sa/app/dayone-life-on-track/id1497433384" class="card-link">app store</a>
                    </div>
                </div>
            </div>

            <div class='col-sm'>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">MercuryOS</h5>
                        <h6 class="card-subtitle mb-2 text-muted">An exploitation challenge</h6>
                        <p class="card-text">This was just a fun project that I worked on in order to get started in C++. It is a very simple program, but it was just for the purpose of getting used to C++.</p>
                        <a href="https://github.com/aejester/MercuryOS" class="card-link">github</a>
                    </div>
                </div>
            </div>

            <div class='col-sm'>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">SmashLeague</h5>
                        <h6 class="card-subtitle mb-2 text-muted">A discord.py bot for a competitive super smash bros. league</h6>
                        <p class="card-text">In my sophmore year of high school, I had a friend who was an avid smash player. He always complained about how he was better than everyone he played with. I created this so that he could finally get matches against people that were at his skill level.</p>
                        <a href="https://github.com/aejester/SmashLeague" class="card-link">github</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>